/*! accordion */


.accordion {
	margin: 0 auto gutter-size(3);
	background: $grey-lightest;
}
.accordion__item {
	margin-bottom: 1px;
}
.accordion__trigger {
	display: block;
	width: 100%;
	padding: gutter-size(1) gutter-size(2);
	cursor: pointer;
	transition: all 0.3s ease-in-out;
	text-align: left;
	color: $white;
	border: 0;
	background: $brand-primary;
	&:focus,
	&:hover,
	.accordion__item--active & {
		background: $brand-dark;
	}
}
.accordion__content {
	display: none;
	padding: gutter-size(2);
	p:last-of-type {
		margin-bottom: 0;
	}
}
