### Bower ###

bower_components


### Gulp ###




### Node / NPM ###

node_modules
package-lock.json


### Windows ###

$RECYCLE.BIN/
*.lnk
Desktop.ini
ehthumbs.db
Thumbs.db


### Yarn ###

yarn.lock


### Common ###

*.log
*.map


### Application Specific ###

dist
src/views/data/assets.config.json
src/assets/images/icons/svg/svg-sprite.svg
src/assets/styles/vendor/libraries/gulp svg sprites/_svg-icons.scss
