/* client reset */


* {
	appearance: none;
}

html,
body {
	height: 100%;
	overflow: hidden;
	z-index: zindex(ground);
}

html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	-ms-overflow-style: scrollbar;
	overflow-y: scroll;
}

:focus {
	outline: 0;
}
