/* client reset */


* {
    appearance: none;
    &:focus {
        outline: 0;
    }
}

html,
body {
    height: 100%;
    overflow: hidden;
    z-index: zindex(ground);
}

html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    -ms-overflow-style: scrollbar;
    overflow-y: scroll;
}
