<div class="component{{#if class}}{{#each class}} {{this}}{{/each}}{{/if}}" {{#if dataAttr}}{{#each dataAttr}} data-{{@key}}="{{this}}"{{/each}}{{/if}}>
	{{#block "component-content"}}{{/block}}
</div>