{{#extend "template/app-shell"}}
	{{#content "app-content"}}

		<div>

			<h1>{{page.conent.title}}</h1>

			{{>"components/test" components.component.test content=data.data.app.global.meta}}
			{{>"components/test" components.component.test.variants.test1test}}
			{{>"components/card"}}

			{{{ contents }}}

			{{data.data.app.global.meta.description}}

		</div>

	{{/content}}
{{/extend}}
