{{#extend "template/app-shell"}}
	{{#content "app-content"}}

		<div>

			<h1>{{page.conent.title}}</h1>

			{{>"components/test" component.test}}
			{{>"components/test" component.test.variants.test2}}
			{{>"components/card"}}

			{{{ contents }}}

			{{log test.menu.id}}

		</div>

	{{/content}}
{{/extend}}
