/* typography */


// defaults
// --------------------------------------------------

html {
	@include fluid-type(font-size, $sm * 1px, $lg * 1px, $font-scale-base, $font-scale-max);
	line-height: $line-height-base;
}
body {
	color: $body-color;
	font-display: swap;
	font-family: $font-family-base;
	font-variant-ligatures: no-common-ligatures;
	font-weight: $font-weight-normal;
	&.fonts-loaded {
		font-family: $font-family-sans-serif;
	}
}
::selection {
	background: $primary;
	color: $white;
}


// links
// --------------------------------------------------

a {
	color: $link-color;
	transition: color timing(1) ease-in-out;
	#{$interact} {
		color: $link-hover-color;
	}
}
:link:focus {
	outline: 1px dotted $primary;
}

// headings
// --------------------------------------------------

h6,
h5,
h4,
h3,
h2,
h1 {
	margin: 0 0 gutter-size(2);
	color: $headings-color;
	font-weight: $font-weight-normal;
	line-height: $headings-line-height;
	font-family: $headings-font-family;
}
h6,
.h6 {
	font-size: $ms-1;
}
h5,
.h5 {
	font-size: $ms-2;
}
h4,
.h4 {
	font-size: $ms-3;
}
h3,
.h3 {
	font-size: $ms-4;
}
h2,
.h2 {
	font-size: $ms-5;
}
h1,
.h1 {
	font-size: $ms-6;
}


// general
// --------------------------------------------------

dl,
ol,
p,
ul {
	margin: 0 0 gutter-size(1.5);
	font-size: $ms-1;
	line-height: $line-height-base;
}
