/* typography */


// scalable type
// --------------------------------------------------

// https://madebymike.com.au/writing/precise-control-responsive-typography/

:root {
	font-size: $gutter-base * 1px;
}

@media (min-width: #{$scale-min-width}px) and (max-width: #{$scale-max-width}px) {
	:root {
		font-size: calc( #{$font-scale-min}px + (#{$font-scale-max} - #{$font-scale-min}) * ( (100vw - #{$scale-min-width}px) / ( #{$scale-max-width} - #{$scale-min-width}) ));
	}
}

@media (min-width: #{$scale-max-width}px) {
	:root {
		font-size: #{$font-scale-max}px;
	}
}


// defaults
// --------------------------------------------------

html {
	// font-size: $font-size-base;
	font-variant-ligatures: no-common-ligatures;
	line-height: $line-height-base;
}
body {
	color: $text-color;
	font-display: swap;
	font-family: $font-family-base;
	&.fonts-loaded {
		font-family: $font-family-sans-serif;
	}
}
::selection {
	background: $brand-primary;
	color: $white;
}


// links
// --------------------------------------------------

a {
	color: $link-color;
	&:focus,
	&:hover,
	&:active {
		color: $link-hover-color;
	}
}


// headings
// --------------------------------------------------

h6,
h5,
h4,
h3,
h2,
h1 {
	color: $headings-color;
	font-family: $headings-font-family;
	font-weight: $headings-weight-normal;
	line-height: $headings-line-height;
	margin: 0 0 gutter-size(2);
}
// h6,
// .h6 {
// 	font-size: $font-size-base;
// }
// h5,
// .h5 {
// 	font-size: $font-size-base * 1.125; // 18
// }
// h4,
// .h4 {
// 	font-size: $font-size-base * 1.25; // 20
// }
// h3,
// .h3 {
// 	font-size: $font-size-base * 1.5; // 24
// }
// h2,
// .h2 {
// 	font-size: $font-size-base * 1.875; // 30
// }
// h1,
// .h1 {
// 	font-size: $font-size-base * 2.25; // 36
// }


// general
// --------------------------------------------------

p {
	margin-bottom: gutter-size(2);
}

ol,
ul,
dl {
	margin-bottom: gutter-size(2);
}
