/* variables */


// layout
// --------------------------------------------------

// breakpoints
$xs: 0;
$sm: 768;
$md: 1024;
$lg: 1280;

// sizes
$max-width: ($lg * 2) * 1px;
$header-height: 64px;
$header-height-large: 128px;
$footer-height: 128px;

// gutter
$gutter-base: 16;
@function gutter-size($gutter-multiplier) {
	@return ($gutter-base * $gutter-multiplier) * 1px;
}

// z-index
$zindex: (
	penthouse: 111111,
	level5: 11111,
	level4: 1111,
	level3: 111,
	level2: 11,
	level1: 1,
	ground: 0,
	basement: -1,
	hell: -111111
);
@function zindex($key) {
	@if not map-has-key($zindex, $key) {
		@warn "zindex '#{$key}' not found.";
	}
	@return map-get($zindex, $key);
} // z-index: zindex(level1);


// colours
// --------------------------------------------------

// blacks
$black: #000;
$black-light: #111;

// whites
$white: #fff;
$white-dark: #f7f7f7;

// greys
$grey-darkest: #222;
$grey-darker: #444;
$grey-dark: #666;
$grey-mid: #888;
$grey-light: #aaa;
$grey-lighter: #ccc;
$grey-lightest: #eee;

// brand
$brand-primary: #00b9dd;
$brand-dark: darken($brand-primary, 10%);
$brand-light: lighten($brand-primary, 10%);

// contextual
$brand-success: #67bd4a;
$brand-info: #5bc0de;
$brand-warning: #ffd204;
$brand-danger: #e51b24;

// type
$text-color: #333;
$text-color-light: lighten($text-color, 15%);
$text-color-dark: darken($text-color, 15%);
$headings-color: $brand-primary;
$link-color: $black;
$link-hover-color: $text-color;

// 3rd party
$colour-AddThis: #ff5c3e;
$colour-Facebook: #3b5998;
$colour-Flickr: #ff0084;
$colour-Google: #cf4332;
$colour-Instagram: #3f729b;
$colour-Linkedin: #0077b5;
$colour-Pinterest: #cc2027;
$colour-Slack: #3aaf85;
$colour-Skype: #00aff0;
$colour-Twitter: #55acee;
$colour-Vimeo: #1ab7ea;
$colour-Yahoo: #410093;
$colour-Youtube: #ae2b25;


// typography
// --------------------------------------------------

// sizing
// $text-size-small: 87.5%;
$text-size-xsmall: 75%;
// $text-size-large: 112.5%;
$text-size-xlarge: 125%;

// text font weight
$font-weight-thin: 100;
$font-weight-extra-light: 200;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;
$font-weight-black: 900;

// type scaling
$font-scale-min: 16px;
$font-scale-max: 20px;

$text-size-base: 1rem;
$text-size-large: 1.1rem;
$text-size-small: 0.82rem;


// paths
// --------------------------------------------------

$image-path: "/assets/images"; // background: url("#{$image-path}/pngTrans.png") no-repeat;
$image-cache-bust: "?v=#{random(9000) + 999}"; // background: url("#{$image-path}/pngTrans.png#{$image-cache-bust}") no-repeat;
$font-path: "/assets/fonts";


// timings
// --------------------------------------------------

$timing-base: 0.1;
@function timing($timing-multiplier) {
	@return ($timing-base * $timing-multiplier) + s;
} // timing(1);


// link states
$interact: "&:focus, &:hover, &:active";
