/* variables */


// layout
// --------------------------------------------------

// gutter
$gutter-base: 16;
@function gutter-size($gutter-multiplier) {
	@return ($gutter-base * $gutter-multiplier) * 1px;
}

// breakpoints
$xs: 0;
$sm: 768;
$md: 1024;
$lg: 1280;
$xl: 1536;

// grid
$grid-gutter-width: gutter-size(2);
$grid-breakpoints: (
	xs: $xs,
	sm: $sm * 1px,
	md: $md * 1px,
	lg: $lg * 1px,
	xl: $xl * 1px
);
$container-max-widths: (
	sm: $sm * 1px,
	md: $md * 1px,
	lg: $lg * 1px,
	xl: $xl * 1px
);

// sizes
$max-site-width: ($xl * 2) * 1px;


// colours
// --------------------------------------------------

// black - white
$black: #000;
$gray-900: #111;
$gray-800: #222;
$gray-700: #444;
$gray-600: #666;
$gray-500: #888;
$gray-400: #aaa;
$gray-300: #ccc;
$gray-200: #eee;
$gray-100: #f7f7f7;
$white: #fff;

// brand
$primary: #00b9dd;
$secondary: #00b9dd;
$dark: darken($primary, 15%);
$light: lighten($primary, 15%);

// type
$body-color: $gray-700;
$body-color-light: lighten($body-color, 15%);
$body-color-dark: darken($body-color, 15%);
$headings-color: $primary;
$link-color: $black;
$link-hover-color: $body-color;

// 3rd party
$colour-AddThis: #ff5c3e;
$colour-Facebook: #3b5998;
$colour-Flickr: #ff0084;
$colour-Google: #cf4332;
$colour-Instagram: #3f729b;
$colour-Linkedin: #0077b5;
$colour-Pinterest: #cc2027;
$colour-Slack: #3aaf85;
$colour-Skype: #00aff0;
$colour-Twitter: #55acee;
$colour-Vimeo: #1ab7ea;
$colour-Yahoo: #410093;
$colour-Youtube: #ae2b25;


// typography
// --------------------------------------------------

// fonts
$font-family-base: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-family-sans-serif: "Roboto";
$font-family-serif: "Roboto";
$headings-font-family: $font-family-sans-serif;

// line height
$line-height-base: 1.5;
$line-height-sm: 1.2;
$headings-line-height: $line-height-sm;

// sizing
$font-scale-base: 16px;
$font-scale-max: 20px;
$font-size-xs: 0.694rem;
$font-size-sm: 0.833rem;
$ms-1: 1rem;
$ms-2: 1.2rem;
$ms-3: 1.44rem;
$ms-4: 1.728rem;
$ms-5: 2.074rem;
$ms-6: 2.488rem;
$ms-7: 2.986rem;
$ms-8: 3.583rem;
$ms-9: 4.3rem;
$ms-10: 5.16rem;

// weights
$font-weight-thin: 100;
$font-weight-extra-light: 200;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;
$font-weight-black: 900;


// paths
// --------------------------------------------------

$image-path: "/assets/images"; // background: url("#{$image-path}/pngTrans.png") no-repeat;
$cache-bust: "?v=#{random(9000) + 999}"; // background: url("#{$image-path}/pngTrans.png#{$image-cache-bust}") no-repeat;
$font-path: "/assets/fonts";


// general
// --------------------------------------------------

// link interact
$interact: "&:focus, &:hover, &:active";

// timing
$timing-base: 0.1;
@function timing($timing-multiplier) {
	@return ($timing-base * $timing-multiplier) + s;
} // timing(1);

// z-index
$zindex: (
	penthouse: 111111,
	level5: 11111,
	level4: 1111,
	level3: 111,
	level2: 11,
	level1: 1,
	ground: 0,
	basement: -1,
	hell: -111111
);
@function zindex($key) {
	@if not map-has-key($zindex, $key) {
		@warn "zindex '#{$key}' not found.";
	}
	@return map-get($zindex, $key);
} // z-index: zindex(level1);
