<meta charset="utf-8">
<meta content="ie=edge" http-equiv="x-ua-compatible">
<meta content="width=device-width, initial-scale=1" name="viewport">
<meta content="telephone=no" name="format-detection">
<title>{{capitalizeAll page.meta.title}} | {{data.app.global.meta.title}}</title>
<meta content="{{page.meta.description}}" name="description">
{{>"global/pwa-meta"}}
<link href="/assets/images/favicon/apple-touch-icon.png" rel="apple-touch-icon">
<link href="/assets/images/favicon/favicon.png" rel="icon" sizes="32x32" type="image/png">
<link href="/assets/styles/critical.css" rel="stylesheet" inline>
<link href="/assets/styles/master.css?rev=!TIMESTAMP!" rel="stylesheet">