<!DOCTYPE html>

<html dir="ltr" lang="en-AU">

	<head>
		{{>"global/app-head"}}
	</head>

	<body id="{{dashcase name}}">

		<header id="app-header">
			<section class="container">
				{{>"global/app-header"}}
			</section>
		</header>

		<main id="app-main" role="main">
			<article id="app-article">
				{{#block "app-content"}}{{/block}}
			</article>
		</main>

		<footer id="app-footer">
			<section class="container">
				{{>"global/app-footer"}}
			</section>
		</footer>

		<section id="app-container">
			{{>"global/app-warning"}}
			{{>"global/app-assets"}}
		</section>

	</body>

</html>
